@page "/RCompras"
@page "/RCompras/{CompraId:int}"

@using Models
@using BLL

@inject IToastService toast
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <NotAuthorized>
        <p class="h4 text-center">Usted no esta autorizado para acceder a esta pagina</p>

    </NotAuthorized>
</AuthorizeView>

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <EditForm Model="Venta" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />

        <div class="card-img">
            <div class="card-header bg-dark">
                <h3>Registro Compras</h3>
            </div>
            <div class="card-body">
                <form>


                    <div class="form-row align-items-center">
                        <div class="col">
                            <div class="form-group">
                                <label>Id Compra:</label>
                                <div class="input-group">
                                    <InputNumber @bind-Value="Venta.CompraId" class="form-control col-4" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Usuario Id:</label>
                        <InputNumber @bind-Value="Venta.UsuarioId" class="form-control" />
                        <ValidationMessage For="@(() => Venta.UsuarioId)" />
                    </div>

                    <div class="form-group">
                        <label>Fecha:</label>
                        <InputDate @bind-Value="Venta.Fecha" class="form-control" />
                        <ValidationMessage For="@(() => Venta.Fecha)" />
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            @*Articulo*@
                            <div class="col">
                                <label>Articulo:</label>
                                <select class="form-control" @bind="ArticuloSeleccionado">
                                    <option value="" disabled selected>Seleccione un Articulo</option>
                                    @foreach (var item in Lista)
                                    {
                                        <option value="@item.ArticuloId">@item.Descripcion</option>
                                    }
                                </select>
                            </div>


                            <div class="col">
                                <label>Costo</label>
                                <InputNumber class="form-control" @bind-Value="costo" />
                            </div>


                            <div class="col">
                                <label>Cantidad:</label>
                                <div class="input-group">
                                    <InputNumber @bind-Value="Cantidad" class="form-control" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-info" @onclick="Agregar">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @*Detalle*@
                    @*La Tabla*@
                    <div class="table-responsive text-nowrap" style="position: relative; height:200px; overflow: auto; display: block;">
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th>Articulo Id</th>
                                    <th>Descripción</th>
                                    <th>Cantidad</th>
                                    <th>Costo</th>

                                </tr>
                            </thead>
                            @*Asignacion de los datos del Detalle*@
                            <tbody class="bg-light">
                                @foreach (var item in Venta.ComprasDetalle)
                                {
                                    <tr>
                                        <td>@item.ArticuloId</td>
                                        <td>@ObtenerDescripcion(item.ArticuloId)</td>
                                        <td>@item.CantidadArticulos</td>
                                        <td>@item.Costo</td>

                                        <td><button type="button" class="btn btn-outline-danger" @onclick="(() => EliminarDetalle(item))"> Remover</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group">
                        <label>Monto:</label>
                        <InputNumber @bind-Value="Venta.Monto" class="form-control" readonly="true" />
                        <ValidationMessage For="@(() => Venta.Monto)" />
                    </div>

                </form>
            </div>
            <div class="card-footer bg-dark">
                <div class="form-group text-center" display: inline-block>
                    <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo"> <i class="oi oi-plus" />Nuevo</button>
                    <button type="submit" class="btn btn-lg btn-success"><i class="oi oi-hard-drive" />Guardar</button>
                    <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar"><i class="oi oi-trash" />Eliminar</button>
                </div>
            </div>
        </div>

    </EditForm>
}

@code {

    Ventas Venta = new Ventas();
    VentasDetalle VentaD = new VentasDetalle();

    [Parameter]
    public int CompraId { get; set; }
    public decimal costo { get; set; }
    public int Cantidad { get; set; }
    public int ArticuloSeleccionado { get; set; }


    private List<Articulos> Lista = new List<Articulos>();

    protected override void OnInitialized()
    {
        Nuevo();


    }

    private string ObtenerDescripcion(int id)
    {
        string Descripcion = null;
        Articulos a = ArticulosBLL.Buscar(id);

        Descripcion = a.Descripcion;
        return Descripcion;
    }

    private void Nuevo()
    {
        Venta = new Ventas();
        Cantidad = 0;
        costo = 0;

        Lista = ArticulosBLL.GetList(c => true);
    }



    private void Guardar()
    {
        bool paso;
        paso = VentasBLL.Guardar(Venta);

        if (paso)
        {
            Nuevo();
            toast.ShowSuccess("Guardado correctamente");
        }
        else
        {
            toast.ShowError("No fue posible guardar");
        }
    }

    private void Agregar()
    {
        if (ArticuloSeleccionado == 0)
        {
            toast.ShowWarning("Tiene que seleccionar un producto.");
            return;
        }

        if (Cantidad <= 0)
        {
            toast.ShowWarning("La cantidad debe ser mayor a 0.");
            return;
        }
        else
        {
            this.Venta.VentasDetalle.Add(new VentasDetalle
            {
                ArticuloId = ArticuloSeleccionado,
                Descripcion = ObtenerDescripcion(ArticuloSeleccionado),
                CantidadArticulos = Cantidad,
                Costo = costo
            });

            ComprasBLL.ObtenerCantidad(Venta);
            ComprasBLL.ObtenerCosto(Venta);

            ArticuloSeleccionado = 0;
            costo = 0;
            Cantidad = 0;

        }
        CalcularMonto();

    }

    private void Eliminar()
    {
        bool elimino;

        ComprasBLL.BorrarCantidad(Venta);
        ComprasBLL.BorrarCosto(Venta);
        elimino = ComprasBLL.Eliminar(Venta.CompraId);

        if (elimino)
        {
            Nuevo();
            toast.ShowSuccess("Eliminado correctamente");
        }
        else
            toast.ShowError("No fue posible eliminar");
    }




    private void CalcularMonto()
    {
        decimal total = 0;
        foreach (var item in Venta.ComprasDetalle)
        {
            total += (item.Costo * item.CantidadArticulos);
        }
        Venta.Monto = total;
    }

    private void EliminarDetalle(ComprasDetalle detalle)
    {
        try
        {
            ComprasBLL.BorrarCantidad(Venta);
            ComprasBLL.BorrarCosto(Venta);
            Venta.ComprasDetalle.Remove(detalle);
            CalcularMonto();
        }
        catch (Exception)
        {

            throw;
        }
    }


    private void Buscar()
    {
        var encontrado = ComprasBLL.Buscar(Venta.CompraId);
        if (encontrado != null)
        {
            this.Venta = encontrado;
        }
        else
            toast.ShowWarning("No encontrado");
    }

}
