@page "/C_Eventos"

@using Models
@using BLL

<div class="card">
    <div class="card-header">
        <h3>Consultar Eventos</h3>
    </div>

    <div class="card-body">
        <form>

            <div class="form-row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <label>Filtro:</label>
                        <div class="input-group">
                            <select class="form-control col-4" @bind="Filtro">
                                <option value="0">Todos</option>
                                <option value="1">Evento Id</option>
                                <option value="2">Usuario Id</option>
                                <option value="3">Fotografo Id</option>
                                <option value="4">Descripcion</option>
                                <option value="5">Lugar</option>
                                <option value="6">Precio</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label>Criterio:</label>
                        <div class="input-group">
                            <input type="text" class="form-control col-4" @bind="criterio" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary input-group-text" @onclick="Consultar">Consultar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div class="form-group">
                <table class=" table">
                    <thead>
                        <tr>
                            <th>Evento Id</th>
                            <th>Usuario Id</th>
                            <th>Fotografo Id</th>
                            <th>Descripcion</th>
                            <th>Lugar</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var eventos in Lista)
                        {
                        <tr>
                            <td>@eventos.EventoId</td>
                            <td>@eventos.UsuarioId</td>
                            <td>@eventos.FotografoId</td>
                            <td>@eventos.Descripcion</td>
                            <td>@eventos.Lugar</td>
                            <td>@eventos.Precio</td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>





        </form>

    </div>
    <div class="card-footer">



    </div>
</div>


@code {

    public List<Eventos> Lista = new List<Eventos>();


    public int Filtro { get; set; }

    public string criterio { get; set; }

    protected override void OnInitialized()
    {
        Nuevo();
    }

    private void Nuevo()
    {
        Lista = new List<Eventos>();
    }

    private void Consultar()
    {
        try
        {
            switch (Filtro)
            {
                case 0: //Todos
                    Lista = EventosBLL.GetList(a => true);

                    break;
                case 1: //Id
                    int Id = Convert.ToInt32(criterio);
                    Lista = EventosBLL.GetList(a => a.EventoId == Id);

                    break;
                case 2: //Usuario
                    int UsuarioId = Convert.ToInt32(criterio);
                    Lista = EventosBLL.GetList(a => a.UsuarioId == UsuarioId);
                    break;
                case 3: //Fotografo
                    int FotografoId = Convert.ToInt32(criterio);
                    Lista = EventosBLL.GetList(a => a.FotografoId == FotografoId);
                    break;
                case 4: //Descripcion                    
                    Lista = EventosBLL.GetList(a => a.Descripcion == criterio);
                    break;
                case 5: //Lugar                    
                    Lista = EventosBLL.GetList(a => a.Lugar == criterio);
                    break;
                case 6: //Precio    
                    int Precio = Convert.ToInt32(criterio);
                    Lista = EventosBLL.GetList(a => a.Precio == Precio);
                    break;

            }
        }
        catch (Exception)
        {

            throw;
        }
    }

}
