@page "/C_Fotografos"

@using Models
@using BLL
@using Reportes;
@using Paginacion;

@inject IToastService toast
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="card-img">
    <div class="card-header bg-dark text-center">
        <h3>Consultar Fotografos</h3>
    </div>

    <div class="card-body">
        <form>

            <div class="form-row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <label>Filtro:</label>
                        <div class="input-group">
                            <select class="form-control col-4" @bind="Filtro">
                                <option value="0">Todos</option>
                                <option value="1">Fotografo Id</option>
                                <option value="2">Usuario Id</option>
                                <option value="3">Nombre</option>
                                <option value="4">Apellido</option>
                                <option value="5">Cedula</option>
                                <option value="6">Direccion</option>
                                <option value="7">Sexo</option>
                                <option value="8">Sueldo</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label>Criterio:</label>
                        <div class="input-group">
                            <input type="text" class="form-control col-4" @bind="criterio" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary input-group-text" @onclick="Consultar">Consultar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div class="form-group">
                <table class=" table">
                    <thead>
                        <tr>
                            <th>Fotografo Id</th>
                            <th>Usuario Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cedula</th>
                            <th>Direccion</th>
                            <th>Sexo</th>
                            <th>Sueldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var fotografos in Lista)
                        {
                            <tr>
                                <td>@fotografos.FotografoId</td>
                                <td>@fotografos.UsuarioId</td>
                                <td>@fotografos.Nombres</td>
                                <td>@fotografos.Apellidos</td>
                                <td>@fotografos.Cedula</td>
                                <td>@fotografos.Direccion</td>
                                <td>@fotografos.Sexo</td>
                                <td>@fotografos.Sueldo</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>





        </form>

    </div>
    <div class="card-footer">



    </div>
</div>

@code {

    public List<Fotografos> Lista = new List<Fotografos>();


    public int Filtro { get; set; }

    public string criterio { get; set; }

    protected override void OnInitialized()
    {
        Nuevo();
    }

    private void Nuevo()
    {
        Lista = new List<Fotografos>();
    }

    private void Consultar()
    {
        try
        {
            switch (Filtro)
            {
                case 0: //Todos
                    Lista = FotografosBLL.GetList(a => true);

                    break;
                case 1: //Id
                    int Id = Convert.ToInt32(criterio);
                    Lista = FotografosBLL.GetList(a => a.FotografoId == Id);

                    break;
                case 2: //Usuario
                    int UsuarioId = Convert.ToInt32(criterio);
                    Lista = FotografosBLL.GetList(a => a.UsuarioId == UsuarioId);
                    break;
                case 3: //Nombre
                    Lista = FotografosBLL.GetList(a => a.Nombres == criterio);
                    break;
                case 4: //Apellido
                    Lista = FotografosBLL.GetList(a => a.Apellidos == criterio);
                    break;
                case 5: //Cedula
                    Lista = FotografosBLL.GetList(a => a.Cedula == criterio);
                    break;
                case 6: //Direccion
                    Lista = FotografosBLL.GetList(a => a.Direccion == criterio);
                    break;
                case 7: //Sexo
                    Lista = FotografosBLL.GetList(a => a.Sexo == criterio);
                    break;
                case 8: //Sueldo
                    int Sueldo = Convert.ToInt32(criterio);
                    Lista = FotografosBLL.GetList(a => a.Sueldo == Sueldo);
                    break;

            }
        }
        catch (Exception)
        {

            throw;
        }
    }

}
